.link_but_text {
  color: black;
  text-decoration-line: none;
}

.center {
  
  text-align: center;
}

.paragraph {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

.padlink {
  margin-left: 5px;
  margin-right: 5px;
}

